<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just second info</title>
</head>

<body>
    <h1>Welcome to the Second page</h1>
    <a href="/sfollow">Follow me</a>
</body>

</html>