<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<div class=" q4"
        style="width: 390px; height: 2325px; position: relative; overflow: hidden; padding: 0px 0px 0px 0px; background-color: #ffffff">
    <div class="statusBarLight"
        style="width: 390px; height: 44px; position: absolute; top: 0px; left: 0px; padding: 0px 0px 0px 0px; background-color: #ffffff">
        <div class="iPhoneXStatusBarsStatusBarBlack"
            style="width: 375px; height: 44px; position: absolute; top: 50%; left: 50%; overflow: hidden; transform: translateX(-50%); padding: 0px 0px 0px 0px">
            <div class="rectangle"
                style="position: absolute; top: 0%; bottom: 0%; left: 0%; right: 0%; width: 375px; height: 44px; padding: 0px 0px 0px 0px">
            </div>
            <div class="battery" style="padding: 0px 0px 0px 0px; width: 24.33px; height: 11.33px; position: absolute">
                <div class="border"
                    style="width: 22px; height: 11.33px; position: relative; border: 1px  SOLID #000000; border-radius: 2.6666667461395264px; padding: 0px 0px 0px 0px; opacity: 0.3499999940395355">
                </div>
                <svg width="2" height="4" viewBox="0 0 2 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4"
                        d="M0 0V4C0.804731 3.66122 1.32804 2.87313 1.32804 2C1.32804 1.12687 0.804731 0.338777 0 0Z"
                        fill="black" />
                </svg>
                <div class="capacity"
                    style="width: 18px; height: 8px; position: relative; border-radius: 1.3333333730697632px; padding: 0px 0px 0px 0px; background-color: #000000">
                </div>
            </div>
            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.33045 2.60802C10.5463 2.60811 12.6775 3.45955 14.2835 4.98635C14.4044 5.10422 14.5977 5.10274 14.7168 4.98302L15.8728 3.81635C15.9331 3.75563 15.9667 3.67338 15.9662 3.58779C15.9657 3.50221 15.9311 3.42036 15.8701 3.36035C11.655 -0.679198 5.00522 -0.679198 0.79012 3.36035C0.729062 3.42032 0.694418 3.50215 0.693855 3.58773C0.693292 3.67331 0.726856 3.75558 0.78712 3.81635L1.94345 4.98302C2.06248 5.10292 2.25593 5.10441 2.37679 4.98635C3.98294 3.45945 6.11434 2.60801 8.33045 2.60802ZM8.33045 6.40368C9.54794 6.40361 10.722 6.85614 11.6245 7.67335C11.7465 7.78933 11.9388 7.78682 12.0578 7.66768L13.2125 6.50102C13.2733 6.43982 13.307 6.3568 13.3061 6.27054C13.3052 6.18427 13.2698 6.10196 13.2078 6.04202C10.4596 3.48563 6.20365 3.48563 3.45545 6.04202C3.39338 6.10196 3.35796 6.18432 3.35714 6.27061C3.35633 6.3569 3.39019 6.43991 3.45112 6.50102L4.60545 7.66768C4.72444 7.78682 4.91672 7.78933 5.03879 7.67335C5.94066 6.85668 7.11377 6.40419 8.33045 6.40368ZM10.6434 8.9575C10.6452 9.04401 10.6112 9.12741 10.5495 9.18802L8.55212 11.2037C8.49357 11.2629 8.41374 11.2963 8.33045 11.2963C8.24716 11.2963 8.16734 11.2629 8.10879 11.2037L6.11112 9.18802C6.04941 9.12737 6.01546 9.04394 6.01729 8.95743C6.01912 8.87092 6.05657 8.789 6.12079 8.73102C7.39636 7.65213 9.26455 7.65213 10.5401 8.73102C10.6043 8.78905 10.6417 8.87099 10.6434 8.9575Z"
                    fill="black" />
            </svg>
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.6665 0.666687H15.6665C15.1142 0.666687 14.6665 1.1144 14.6665 1.66669V10.3334C14.6665 10.8856 15.1142 11.3334 15.6665 11.3334H16.6665C17.2188 11.3334 17.6665 10.8856 17.6665 10.3334V1.66669C17.6665 1.1144 17.2188 0.666687 16.6665 0.666687ZM10.9998 3.00002H11.9998C12.5521 3.00002 12.9998 3.44774 12.9998 4.00002V10.3334C12.9998 10.8856 12.5521 11.3334 11.9998 11.3334H10.9998C10.4476 11.3334 9.99984 10.8856 9.99984 10.3334V4.00002C9.99984 3.44774 10.4476 3.00002 10.9998 3.00002ZM7.33317 5.33335H6.33317C5.78089 5.33335 5.33317 5.78107 5.33317 6.33335V10.3334C5.33317 10.8856 5.78089 11.3334 6.33317 11.3334H7.33317C7.88546 11.3334 8.33317 10.8856 8.33317 10.3334V6.33335C8.33317 5.78107 7.88546 5.33335 7.33317 5.33335ZM2.6665 7.33335H1.6665C1.11422 7.33335 0.666504 7.78107 0.666504 8.33335V10.3334C0.666504 10.8856 1.11422 11.3334 1.6665 11.3334H2.6665C3.21879 11.3334 3.6665 10.8856 3.6665 10.3334V8.33335C3.6665 7.78107 3.21879 7.33335 2.6665 7.33335Z"
                    fill="black" />
            </svg>
            <div class="timeStyle"
                style="width: 54px; height: 21px; position: absolute; top: 12px; left: 18px; padding: 0px 0px 0px 0px">
                <span class="time"
                    style="font-family: 'SF Pro Text',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 14px; font-weight: 600; color: #000000; text-align: center; letter-spacing: -0.13px; width: 54px; position: absolute; top: 50%; transform: translateY(-50%); left: 0px">9:4<span
                        class="tracking-[0px]">1</span></span>
            </div>
        </div>
    </div>
    <div class="frame34"
        style="gap: 24px; position: absolute; left: 50%; flex-direction: column; align-items: flex-start; transform: translateX(-50%); top: 2117px; padding: 0px 0px 0px 0px; display: flex">
        <div class="frame5"
            style="gap: 10px; flex-direction: row; width: 323px; justify-content: center; align-items: center; overflow: hidden; border-radius: 20px; padding: 8px 80px 8px 80px; background-color: #456789; display: flex">
            <span class="talkToASpecialist"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 20px; font-weight: 500; color: #ffffff; text-align: left">Talk
                to a specialist</span>
        </div>
        <div class="frame6"
            style="gap: 10px; flex-direction: row; width: 323px; justify-content: center; align-items: center; overflow: hidden; border: 1px  SOLID #456789; border-radius: 20px; padding: 7px 79px 7px 79px; display: flex">
            <span class="exit"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 20px; font-weight: 500; color: #456789; text-align: left">Exit</span>
        </div>
    </div>
    <span class="results"
        style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 32px; font-weight: 600; color: #000000; text-align: left; width: 342px; position: absolute; top: 84px; left: 24px">Results</span>
    <span class="basedOnTheSymptomsYouProvidedHereAreWaysYouCanRelieveYourLowerBackTension"
        style="font-family: 'Work Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 22px; font-weight: 500; color: #000000; text-align: left; width: 342px; position: absolute; top: 144px; left: 24px">Based
        on the symptoms you provided, here are ways you can relieve your lower back tension.</span>
    <span class="noteYouCanAlwaysAccessTheReportThroughTheReportsTab"
        style="font-family: 'Work Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 16px; font-weight: 300; color: #000000; text-align: left; width: 342px; position: absolute; top: 2015px; left: 24px">Note:
        You can always access the report through the <span class="underline">reports</span> tab. </span>
    <div class="group6" style="padding: 0px 0px 0px 0px; width: 342px; height: 336px; position: absolute">
        <div class="rectangle10"
            style="width: 342px; height: 336px; position: relative; border: 1px  SOLID rgba(69,103,137,0.3); border-radius: 10px; padding: 0px 0px 0px 0px">
        </div>
        <span class="sleepMatters"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 20px; font-weight: 500; color: #000000; text-align: left">Sleep
            Matters</span>
        <div class="frame23"
            style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
            <span class=""
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">💭</span>
            <span class="considerUsingALumbarSupportPillow"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Consider
                using a lumbar support pillow</span>
        </div>
        <div class="frame24"
            style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
            <span class=""
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">😴</span>
            <span class="eliminateExcessiveNoiseAndLightFromYourBedroom"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Eliminate
                excessive noise and light from your bedroom</span>
        </div>
        <div class="frame25"
            style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
            <span class=""
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">🧘</span>
            <span class="tryRelaxationMethodsBeforeYouFallAsleep"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Try
                relaxation methods before you fall asleep</span>
        </div>
        <div class="frame26"
            style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
            <span class=""
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">🛏️</span>
            <span class="aMediumFirmMattressIsBestForBackPain"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">A
                medium-firm mattress is best for back pain.</span>
        </div>
    </div>
    <div class="group8" style="padding: 0px 0px 0px 0px; width: 342px; height: 367px; position: absolute">
        <div class="rectangle8"
            style="width: 342px; height: 367px; position: relative; border: 1px  SOLID rgba(69,103,137,0.3); border-radius: 10px; padding: 0px 0px 0px 0px">
        </div>
        <span class="generalTips"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 20px; font-weight: 500; color: #000000; text-align: left">General
            Tips</span>
        <div class="frame31"
            style="gap: 12px; flex-direction: column; align-items: flex-start; padding: 0px 0px 0px 0px; display: flex">
            <div class="frame19"
                style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
                <span class=""
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">🏋️</span>
                <span class="engageInCoreStrengtheningExercises"
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Engage
                    in core strengthening exercises</span>
            </div>
            <span class="exercisesSuchAsCrunchesAndPlanksImproveLowerBackHealth"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 16px; font-weight: 400; color: #000000; text-align: left; width: 310px">Exercises
                such as crunches and planks improve lower back health.</span>
        </div>
        <div class="frame32"
            style="gap: 12px; flex-direction: column; align-items: flex-start; padding: 0px 0px 0px 0px; display: flex">
            <div class="frame20"
                style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
                <span class=""
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">🧊</span>
                <span class="applyAHeatOrIcePack"
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Apply
                    a heat or ice pack</span>
            </div>
            <span class="heatAndIceRelieveMuscleTension"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 16px; font-weight: 400; color: #000000; text-align: left; width: 310px">Heat
                and ice relieve muscle tension.</span>
        </div>
        <div class="frame33"
            style="gap: 12px; flex-direction: column; align-items: flex-start; padding: 0px 0px 0px 0px; display: flex">
            <div class="frame21"
                style="gap: 16px; flex-direction: row; width: 310px; align-items: center; padding: 0px 0px 0px 0px; display: flex">
                <span class=""
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 24px; font-weight: 400; color: #000000; text-align: left">🧎</span>
                <span class="avoidSittingWithPoorPosture"
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Avoid
                    sitting with poor posture</span>
            </div>
            <span class="poorPostureIncreasesStrainOnYourMusclesDecreasingYourBackHealth"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 16px; font-weight: 400; color: #000000; text-align: left; width: 310px">Poor
                posture increases strain on your muscles, decreasing your back health.</span>
        </div>
    </div>
    <div class="group7" style="padding: 0px 0px 0px 0px; width: 342px; height: 888px; position: absolute">
        <div class="rectangle9"
            style="width: 342px; height: 888px; position: relative; border: 1px  SOLID rgba(69,103,137,0.3); border-radius: 10px; padding: 0px 0px 0px 0px">
        </div>
        <span class="relievingTension"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 20px; font-weight: 500; color: #000000; text-align: left">Relieving
            Tension</span>
        <span class="lowerBackRotationalStretch"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Lower
            Back Rotational Stretch</span>
        <span class="kneeToChestStretch"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Knee-to-chest
            Stretch</span>
        <span class="bridgeExercise"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 18px; font-weight: 400; color: #000000; text-align: left; width: 262px">Bridge
            Exercise</span>
        <img src="/images/image1.png" onerror="this.src='http://svgur.com/i/x4x.svg'" class="image1"
            style="width: 330px; height: 174.4px; position: relative; padding: 0px 0px 0px 0px; alt: image 1; image-hash: 5619dab361e582dd3bc970a07e50c5c6f9250dfd; object-fit: cover" />
        <span class="theseBackExercisesSpecificallyTargetTheLowerAreaAndRelieveMuscleTension"
            style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 16px; font-weight: 400; color: #000000; text-align: left; width: 310px">These
            back exercises specifically target the lower area and relieve muscle tension.</span>
        <img src="/images/image3.png" onerror="this.src='http://svgur.com/i/x4x.svg'" class="image3"
            style="width: 330px; height: 174.92px; position: relative; padding: 0px 0px 0px 0px; alt: image 3; image-hash: ec310c8e4f205d3ac74799e7a0ee5b827a8d8466; object-fit: cover" />
        <img src="/images/image4.png" onerror="this.src='http://svgur.com/i/x4x.svg'" class="image4"
            style="width: 330px; height: 174.92px; position: relative; padding: 0px 0px 0px 0px; alt: image 4; image-hash: 73660acd4baea7591c97aac9ab52c6d70fc3a1ec; object-fit: cover" />
    </div>
    <div class="frame18"
        style="width: 390px; height: 64px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0px; border-top: 0.3px  SOLID #a5a5a5; padding: 0px 0px 0px 0px">
        <div class="navBar"
            style="width: 390px; height: 64px; position: absolute; overflow: hidden; top: 0px; left: 0px; padding: 0px 0px 0px 0px; background-color: #ffffff">
            <div class="frame14"
                style="gap: 2px; position: absolute; flex-direction: column; align-items: center; top: 8px; left: 30px; padding: 0px 0px 0px 0px; display: flex">
                <svg class="iconsMediumHome" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 21H6C4.89543 21 4 20.1046 4 19V11.8284C4 11.298 4.21071 10.7893 4.58579 10.4142L10.5858 4.41421C11.3668 3.63317 12.6332 3.63316 13.4142 4.41421L19.4142 10.4142C19.7893 10.7893 20 11.298 20 11.8284V19C20 20.1046 19.1046 21 18 21H14M10 21V15C10 14.4477 10.4477 14 11 14H13C13.5523 14 14 14.4477 14 15V21M10 21H14"
                        stroke="#456789" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="home"
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 14px; font-weight: 600; color: #456789; text-align: left; letter-spacing: 0px; line-height: 24px">Home</span>
            </div>
            <div class="frame15"
                style="gap: 2px; position: absolute; flex-direction: column; align-items: center; top: 8px; left: 304px; padding: 0px 0px 0px 0px; display: flex">
                <svg class="iconsMediumSettings" width="25" height="24" viewBox="0 0 25 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_32_1779)">
                        <path
                            d="M10.6918 4.07219C11.3878 2.50481 13.6122 2.50481 14.3082 4.07219V4.07219C14.7359 5.03544 15.8437 5.49429 16.8272 5.11561V5.11561C18.4277 4.49943 20.0006 6.07235 19.3844 7.67277V7.67277C19.0057 8.65634 19.4646 9.7641 20.4278 10.1918V10.1918C21.9952 10.8878 21.9952 13.1122 20.4278 13.8082V13.8082C19.4646 14.2359 19.0057 15.3437 19.3844 16.3272V16.3272C20.0006 17.9277 18.4277 19.5006 16.8272 18.8844V18.8844C15.8437 18.5057 14.7359 18.9646 14.3082 19.9278V19.9278C13.6122 21.4952 11.3878 21.4952 10.6918 19.9278V19.9278C10.2641 18.9646 9.15634 18.5057 8.17277 18.8844V18.8844C6.57235 19.5006 4.99943 17.9277 5.61561 16.3272V16.3272C5.99429 15.3437 5.53544 14.2359 4.57219 13.8082V13.8082C3.00481 13.1122 3.00481 10.8878 4.57219 10.1918V10.1918C5.53544 9.76409 5.99429 8.65634 5.61561 7.67277V7.67277C4.99943 6.07235 6.57235 4.49943 8.17277 5.11561V5.11561C9.15634 5.49429 10.2641 5.03544 10.6918 4.07219V4.07219Z"
                            stroke="#A5A5A5" stroke-width="1.5" />
                        <circle cx="12.5" cy="12" r="3" stroke="#A5A5A5" stroke-width="1.5" />
                    </g>
                    <defs>
                        <clipPath id="clip0_32_1779">
                            <rect width="24" height="24" fill="white" transform="translate(0.5)" />
                        </clipPath>
                    </defs>
                </svg>
                <span class="settings"
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 14px; font-weight: 400; color: #a5a5a5; text-align: left; letter-spacing: 0px; line-height: 24px">Settings</span>
            </div>
            <div class="frame17"
                style="gap: 2px; position: absolute; flex-direction: column; height: 49px; align-items: center; top: 8px; left: 118px; padding: 0px 0px 0px 0px; display: flex">
                <svg class="iconsMediumStats" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 15L6 11L9 19L15 5L18 15L22 11" stroke="#A5A5A5" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="reports"
                    style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 14px; font-weight: 400; color: #a5a5a5; text-align: left; letter-spacing: 0px; line-height: 24px">Reports</span>
            </div>
        </div>
        <div class="frame16"
            style="gap: 2px; position: absolute; flex-direction: column; align-items: center; top: 8px; left: 218px; padding: 0px 0px 0px 0px; display: flex">
            <svg class="iconsMediumStar" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.072 4.31085C11.4079 3.47438 12.5921 3.47438 12.928 4.31085L14.3523 7.85774C14.4953 8.21394 14.8297 8.45683 15.2126 8.4828L19.0261 8.74137C19.9254 8.80235 20.2913 9.92853 19.5996 10.5065L16.6664 12.9571C16.3719 13.2033 16.2442 13.5963 16.3378 13.9685L17.2703 17.6752C17.4902 18.5494 16.5322 19.2454 15.7688 18.7661L12.5317 16.7338C12.2066 16.5297 11.7934 16.5297 11.4683 16.7338L8.23117 18.7661C7.46776 19.2454 6.50977 18.5494 6.72969 17.6752L7.66218 13.9685C7.75583 13.5963 7.62814 13.2033 7.33357 12.9571L4.40042 10.5065C3.70869 9.92853 4.07461 8.80235 4.97394 8.74137L8.78737 8.4828C9.17035 8.45683 9.50466 8.21394 9.6477 7.85774L11.072 4.31085Z"
                    stroke="#A5A5A5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="goals"
                style="font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial; font-size: 14px; font-weight: 400; color: #a5a5a5; text-align: left; letter-spacing: 0px; line-height: 24px">Goals</span>
        </div>
    </div>
    </div>, initial-scale=1.0">


</body>

</html>